[Desktop Entry]
Version=1.0
Name=huayra-block
Comment=Comment
Exec=/usr/bin/huayra-block
Terminal=false
Type=Application
Icon=huayra-block
Categories=GNOME;GTK;Huayra;Games;
